ar.rb
bg.rb
bm.rb
ca.rb
cs.rb
cy_gb.rb
da.rb
de.rb
en.rb
en_au.rb
en_lol.rb
en_pirate.rb
en_scouse.rb
en_tx.rb
eo.rb
es.rb
et.rb
fi.rb
fr.rb
he.rb
hr.rb
hu.rb
id.rb
is.rb
it.rb
ja.rb
ko.rb
lt.rb
lu.rb
lv.rb
nl.rb
no.rb
pl.rb
pt.rb
ro.rb
ru.rb
sk.rb
sr_cyrl.rb
sr_latn.rb
sv.rb
tr.rb
uk.rb
uz.rb
vi.rb
zh_cn.rb
zh_tw.rb
