Ar.java
Bg.java
Bm.java
Ca.java
Cs.java
Cy_gb.java
Da.java
De.java
En.java
En_au.java
En_lol.java
En_pirate.java
En_scouse.java
En_tx.java
Eo.java
Es.java
Et.java
Fi.java
Fr.java
He.java
Hr.java
Hu.java
Id.java
Is.java
It.java
Ja.java
Ko.java
Lt.java
Lu.java
Lv.java
Nl.java
No.java
Pl.java
Pt.java
Ro.java
Ru.java
Sk.java
Sr_cyrl.java
Sr_latn.java
Sv.java
Tr.java
Uk.java
Uz.java
Vi.java
Zh_cn.java
Zh_tw.java
